#markstable tr td{
    text-align: right;
    margin: 5px;
    padding: 5px;
    
}
#markstable tr th{
    text-align: right;
    margin: 5px;
    padding: 5px;
}

#trafic_Roads tr td{
    text-align: center;
    margin: 5px;
    padding: 5px;
    border-top: 1px solid blue;
    color: blue;
}
#trafic_Roads tr:nth-child(even) {
    background-color: lightblue;
}
#trafic_Roads table{
    border-collapse: collapse;
    border: none;
}