.mobile{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.mobname{
    text-align: center;
    color: blue;
}
.table1 , .table1 td ,.table1 th{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
.img{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    
}
.img img{
    border: 2px solid green;
    box-shadow: 3px 3px 5px green;
}
.counter{
    margin-top: 40px;
    text-align: center;
}
.counter div{
margin-top: 20px;
}