figure{
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #5743c9;
    text-align: center;
    vertical-align: middle;
}

.goback{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
 #horicen{
    margin-top: 90px;
}