
*,html{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('https://media.istockphoto.com/photos/concept-of-education-or-back-to-school-on-green-background-picture-id494617082?k=6&m=494617082&s=612x612&w=0&h=5GPK50lgZMHQCLqKu_llIOXglXO73i2JKdwHK5UPB80=');
    background-repeat: no-repeat;
    background-size: cover;
}


.Wrapper{
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
    width: 70%;
    margin-top: 100px;
}
.header{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header .Heading {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    padding: 5px;
}
.Timimg,.Timimg1{
    font-weight: bold;
    font-size: 20px;
    font-family: 'PT Serif', serif;
    padding: 5px;
}
.Update{
    font-size: 16px;
    font-family: 'PT Serif', serif;
    padding: 5px;
}
.body{
    padding: 15px; 
    font-family: 'PT Serif', serif;
}
.option{
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
}
.option:hover{
    background-color: #D8D8D8;
}
.btn{
    width: 100% !important;
    text-align: right !important;
}
button{
    background-color: rgb(49, 236, 49);
    font-family: 'PT Serif', serif;
    border-radius: 10px !important;
    color: white;
    padding: 5px !important;
    font-weight: bold;
    border: none;
}
button:hover{
    background-color: green;
}
.active{
    background-color: #D8D8D8;
    border: 1px solid black;
}

.result{
    margin: 0 auto;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;
    width: 50%;
    margin-top: 10px;
    padding: 10px;
}
.Quizimg{
    margin: 0 auto;
    width: 220px;
    height: 190px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.name{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px; */
}
.name input{
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: none;
}
.info{
    background-color: white;
    color: black;
    padding: 5px;
    width: 19%;
    border-radius: 10px;
    margin: 0 auto;
}
.submit{
    border: none;
    background-color: rgb(49, 236, 49);
    padding: 8px !important;
    border-radius: none;
    margin-top: 10px;
    width: 140px !important;
}

.home{
    text-align: center !important;
    display: flex !important;
    justify-content: center !important;
    margin: 0 auto ;
    text-decoration: none;
    margin-top: 30px !important;
    margin-bottom: 20px !important;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
}
.blank{
    display: none !important;
}